.commit {
	height: 50px;
	width: 90%;
	margin: auto;
}

.commit-grid {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 10%;
}

.commit__info {
	font-size: 12px;
}

.commit__buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 12px;
}

.commit__info__title {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 700;
	display: flex;
	text-transform: lowercase;
	color: #2f363d;
	text-decoration: none;
}

.commit__info__title:hover {
	color: #0366d6;
	text-decoration: underline;
}

.commit__info__title:visited {
	text-decoration: none;
}

.commit__info__descrip {
	font-size: 13px;
	margin-bottom: 0px;
	display: flex;
	gap: 6px;
}

.avatar-user {
	border-radius: 50%;
}

.info__user{
	font-weight: 700;
	color: #2f363d;
	text-decoration: none;
}

.info__user:hover {
	text-decoration: underline;
}

.info_user:visited {
	color: #2f363d;
	text-decoration: none;
}

.info__days-before{
	color: #6a737d;
	font-weight: 500;
}

.commit__popover-info{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 14px;
}

.popover__user-name {
	color: #2f363d;
	font-weight: 600;
	text-decoration: none;
}

.popover__user-name:hover{
	color: #0366d6;
	text-decoration: none;
}

.popover__user-name:visited {
	text-decoration: none;
}