.list-commit {
	margin: auto;
}

.list-commit-item {
	padding: 0;
	border: 1px;
	border-style: solid;	
	border-color: #d1d5da;
	height: 65px;
	display: flex;
	align-items: center;
}

.list-commit-item:last-child {
	border-radius: 0 0 10px 10px;
}

.list-commit-item:first-child {
	border-radius: 10px 10px 0 0;
}

.list-commit-item:hover {
	background: #f6f8fa;
}