.group-commit {
	width: 90%;
	display: flex;
	margin: auto;
	justify-content: center;
}

.grid-commit {
	display: grid;
	width: 100%;
}

.block-date {
	display: flex
}

.group__text {
	font-weight: 500;
	font-size: 14px;
	color: #586069;
	padding: 0;
	margin: 0;
}

.timeline{
	width: 90%;
	margin: auto;
}

.separator {
	display: inline-block;
  overflow: hidden;
}

.group__icon {
	color: #586069;
}

.vertical-line {
  border-left: 2px solid #d1d5da;
	height: 100%;
	transform: translate(40%);
}